<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.address.mapper.SysAddressTypeListMapper">
    
    <resultMap type="SysAddressTypeList" id="SysAddressTypeListResult">
        <result property="id"    column="id"    />
        <result property="addressId"    column="address_id"    />
        <result property="addressTypeId"    column="address_type_id"    />
    </resultMap>

    <sql id="selectSysAddressTypeListVo">
        select id, address_id, address_type_id from sys_address_type_list
    </sql>

    <select id="selectSysAddressTypeListList" parameterType="SysAddressTypeList" resultMap="SysAddressTypeListResult">
        <include refid="selectSysAddressTypeListVo"/>
        <where>  
            <if test="addressId != null "> and address_id = #{addressId}</if>
            <if test="addressTypeId != null "> and address_type_id = #{addressTypeId}</if>
        </where>
    </select>
    
    <select id="selectSysAddressTypeListById" parameterType="Long" resultMap="SysAddressTypeListResult">
        <include refid="selectSysAddressTypeListVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysAddressTypeList" parameterType="SysAddressTypeList">
        insert into sys_address_type_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="addressId != null">address_id,</if>
            <if test="addressTypeId != null">address_type_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="addressId != null">#{addressId},</if>
            <if test="addressTypeId != null">#{addressTypeId},</if>
         </trim>
    </insert>

    <update id="updateSysAddressTypeList" parameterType="SysAddressTypeList">
        update sys_address_type_list
        <trim prefix="SET" suffixOverrides=",">
            <if test="addressId != null">address_id = #{addressId},</if>
            <if test="addressTypeId != null">address_type_id = #{addressTypeId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysAddressTypeListById" parameterType="Long">
        delete from sys_address_type_list where id = #{id}
    </delete>

    <delete id="deleteSysAddressTypeListByIds" parameterType="String">
        delete from sys_address_type_list where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>