<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.duty.mapper.SysDutyMapper">
    <resultMap type="SysDuty" id="SysDutyResult">
        <result property="dutyId" column="duty_id"/>
        <result property="dutyType" column="duty_type"/>
        <result property="dutySort" column="duty_sort"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectSysDutyVo">
        select duty_id,
               duty_type,
               duty_sort,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from sys_duty
    </sql>

    <select id="selectSysDutyList" parameterType="SysDuty" resultMap="SysDutyResult">
        <include refid="selectSysDutyVo"/>
        <where>
            <if test="dutyId != null">
                and duty_id = #{dutyId}
            </if>
            <if test="dutyType != null  and dutyType != ''">
                and duty_type like concat('%', #{dutyType}, '%')
            </if>
            <if test="dutySort != null">
                and duty_sort = #{dutySort}
            </if>
            <if test="createBy != null">
                and create_by = #{createBy}
            </if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''">
                and create_time between #{params.beginCreateTime} and #{params.endCreateTime}
            </if>
            <if test="updateBy != null">
                and update_by = #{updateBy}
            </if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''">
                and update_time between #{params.beginUpdateTime} and #{params.endUpdateTime}
            </if>
            <if test="remark != null  and remark != ''">
                and remark like concat('%', #{remark}, '%')
            </if>
        </where>
    </select>

    <select id="selectSysDutyByDutyId" parameterType="Long" resultMap="SysDutyResult">
        <include refid="selectSysDutyVo"/>
        where duty_id = #{dutyId}
    </select>

    <insert id="insertSysDuty" parameterType="SysDuty" useGeneratedKeys="true" keyProperty="dutyId">
        insert into sys_duty
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dutyType != null and dutyType != ''">
                duty_type,
            </if>
            <if test="dutySort != null">
                duty_sort,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dutyType != null and dutyType != ''">
                #{dutyType},
            </if>
            <if test="dutySort != null">
                #{dutySort},
            </if>
            <if test="createBy != null">
                #{createBy},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateBy != null">
                #{updateBy},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
        </trim>
    </insert>

    <update id="updateSysDuty" parameterType="SysDuty">
        update sys_duty
        <trim prefix="SET" suffixOverrides=",">
            <if test="dutyType != null and dutyType != ''">
                duty_type = #{dutyType},
            </if>
            <if test="dutySort != null">
                duty_sort = #{dutySort},
            </if>
            <if test="createBy != null">
                create_by = #{createBy},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
        </trim>
        where duty_id = #{dutyId}
    </update>

    <delete id="deleteSysDutyByDutyId" parameterType="Long">
        delete
        from sys_duty
        where duty_id = #{dutyId}
    </delete>

    <delete id="deleteSysDutyByDutyIds" parameterType="String">
        delete
        from sys_duty where duty_id in
        <foreach item="dutyId" collection="array" open="(" separator="," close=")">
            #{dutyId}
        </foreach>
    </delete>
</mapper>
